:root {
  --c1: #870f0f;
  --c2: #cbd2db;
  --c3: #f8f9fc;
}

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box !important;
  /* background: radial-gradient(
    circle,
    rgba(246, 246, 246, 1) 0%,
    rgba(154, 20, 20, 1) 100%
  ); */
}

main {
  background: white;
  max-width: 100%px;
  height: 100%;
  gap: 48px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "PT Sans", sans-serif;
}

section.banner img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

section.form {
  margin: 0 auto;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.form h2 {
  width: 100%;
  font-weight: 700;
  color: var(--c1);
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 48px;
}

section.form label,
section.form input {
  display: block;
}

section.form img {
  display: none;
}

section.form label {
  font-size: 0.937em;
  font-weight: 700;
  color: var(--c2);
  margin-bottom: 8px;
}

section.form input {
  background-color: var(--c3);
  display: inline;
  width: 50%;
  height: 48px;
  border: none;
  margin-bottom: 24px;
  color: var(--c1);
  outline-color: var(--c1);
}

section.form input.check {
  display: inline;
  width: 14px;
  height: 14px;
}

section.form input.check + label {
  display: inline;
  color: var(--c1);
}

section.form > div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

section.form div a {
  text-decoration: none;
  font-size: 0.937em;
  font-weight: 700;
  color: var(--c2);
}

section.form button {
  color: #fff;
  background-color: var(--c1);
  font-weight: 700;
  height: 48px;
  border: none;
  width: 35%;
  margin-bottom: 48px;
}

section.form > p {
  color: var(--c2);
  font-size: 0.937em;
}

section.form > p a {
  text-decoration: none;
  font-size: 0.937em;
  font-weight: 700;
  color: var(--c1);
}

@media (max-width: 900px) {
  section.banner img {
    object-fit: cover;
  }
}

@media (max-width: 600px) {
  main {
    margin: 0;
    grid-template-columns: 1fr;
  }

  section.form {
    align-items: center;
    /* justify-content: center; */
  }

  section.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  section.form h2,
  section.form label,
  section.form > p {
    display: none;
  }

  section.form form input.email {
    /* width: 80%; */
    background-image: url(../img/email.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    padding-left: 4em;
  }

  section.form form input.senha {
    background-image: url(../img/senha.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    padding-left: 4em;
  }

  section.form button {
    width: 80%;
  }
}

@media (max-width: 450px) {
  section.banner img {
    max-height: 500px;
  }
}

/* section.form {
    width: 90%;
    margin: 0 auto;
  }

  section.form form input.email {
    width: 100%;
    background-image: url(../img/email.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    padding-left: 4em;
  }

  section.form form input.senha {
    width: 80%;

    background-image: url(../img/senha.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    padding-left: 4em;
  }

  section.form img {
    display: inherit;
  }

  section.form label,
  section.form button,
  section.form > div,
  section.form input {
    margin-left: auto;
    margin-right: auto;
  }

  section.form > p {
    margin-bottom: 20px;
  }

  section.form h2,
  section.form label {
    display: none;
  }
}

@media (max-width: 450px) {
  section.banner img {
    max-height: 500px;
  }
} */
